@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-bg-color: #43008f;
  --secondary-bg-color: #811070;
  --font-family: "Poppins", sans-serif;
  --text-color: #ffffff;
  --hover-bg-color: #0056b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-image: url("../images/Bakground_home.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

/*====================================================================== Nav =====================================================================*/
nav {
  background: linear-gradient(
    to right,
    var(--main-bg-color),
    var(--secondary-bg-color)
  );
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 15px 10px 50px;
  z-index: 2;
  transition: top 0.3s;
}

nav.active {
  top: -60px;
}

nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 5px;
  margin-right: 10px;
  background-color: #000000;
  color: #fff;
  margin-left: 10px;
  border: none;
  border-color: #000000;
}

button {
  padding: 5px 10px;
  color: var(--text-color);
  cursor: pointer;
  margin-left: 10px;
}

.login a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 10px;
  margin-right: 0px;
}

.register a {
  color: #000000;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.home a,
.cek-transaction a,
.compare-price a {
  color: var(--text-color);
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 0px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
}

.search-container {
  display: inline-flex;
  gap: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.search {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#searchButton {
  /* Atur ukuran tombol dan posisinya */
  width: 30px;
  height: 30px;
  background-color: transparent; /* Hapus warna latar belakang */
  border: none; /* Hapus border */
  background-image: url("/Assets/logo/search.png"); /* Ganti 'path_to_your_icon.png' dengan path ke gambar ikon search */
  background-size: cover; /* Atur ukuran ikon agar sesuai dengan ukuran tombol */
  cursor: pointer; /* Ubah kursor saat diarahkan ke tombol */
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: #fff;
}

.text {
  margin-left: 5px;
}

.header-content-1,
.header-content-2,
.right-content,
.left-content,
.cek-transaction,
.compare-price,
.home,
.language-selector,
.login {
  display: inline-flex;
  gap: 10px;
}

.register {
  display: flex;
  gap: 10px;
}

.header-content-1 {
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

.header-content-2 {
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.right-content {
  margin-left: 0px;
}

.left-content {
  margin-right: 0px;
}
.home .logo,
.cek-transaction .logo,
.compare-price .logo {
  width: 15px;
  height: 15px;
  margin-right: 7.5px;
  color: #fff;
}

.left-content a {
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.home:hover,
.compare-price:hover,
.cek-transaction:hover {
  border-bottom: 5px solid #fff;
  border-radius: 5px;
}
/*================================================================================================================================================================*/
/*============================================================================== footer ==========================================================================*/
.footer-1 {
  display: inline-flex;
  background-color: transparent;
}

.menu-container {
  position: column;
  margin: 30px 30px;
}
.chat-container p,
.support-container p,
.flow-container p,
.menu-container p {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-bottom: 5px solid #260057;
  border-radius: 5px;
}

.menu-container a {
  color: #676767;
  font-size: 15px;
  display: block;
  flex-direction: column;
  margin: 4px;
}

.flow-container {
  position: column;
  margin: 30px 5px;
}

.flow-container a {
  color: #676767;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: 4%;
}

.chat-container,
.support-container {
  position: column;
  margin: 30px 5px;
  margin-left: 30px;
}

.chat-container a,
.support-container a {
  color: #676767;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
/*================================================================================================================================================================*/
/*============================================================================== Vendor ==========================================================================*/
#lupa-kata-sandi {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 20px;
  background-color: #470068;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 9px 18px rgb(116, 0, 193);
}

#lupa-kata-sandi h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

#lupa-kata-sandi p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ffffff;
}

#lupa-kata-sandi form {
  margin-top: 10px;
}

#lupa-kata-sandi label {
  font-size: 16px;
  color: #ffffff;
}

#lupa-kata-sandi input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#lupa-kata-sandi input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#lupa-kata-sandi input[type="submit"]:hover {
  background-color: var(--hover-bg-color);
}

#lupa-kata-sandi input[type="submit"]:hover {
  background-color: #0056b3;
}
